<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
    <meta charset="UTF-8">
    <title>MongoDB File Server</title>
    <script src="../../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}"
	rel="stylesheet">
	<link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
	rel="stylesheet">
</head>
<body>
<div>
    <h1>File server</h1>
    <a href="/">首页</a>
</div>
</body>
</html>